@media screen and (max-width: 768px) {
	.mainDiv {
	flex-direction: column !important;
	}
	.chartjs-render-monitor {
		height: none !important;
		width: none !important;
	}
	.container {
		flex-direction: column !important;
	}
	.newssection {
		width: 100% !important;
	}
	.datasection {
		width: 100% !important;
	}
	
}
.mainDiv {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	border-bottom: 1px solid
}
.dataDiv {
	display: flex;
	min-width: 29%;
	justify-content: center;
}
.dataDetailDiv {
	display: flex;
	width: 80%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(0,0,0,0.2);
	margin: 10px;
	background-color: cadetblue;
}
.dataelement {
	margin-top: 5px;
}
.demo-chart {
	height: 400px;
  }
  .graphHeading {
	  display: flex;
	  justify-content: center;
    margin-top: 50px
  }
  .piechart {
	  display: flex;
	  justify-content: center;
  }
  .datasection {
	display: flex;
    flex-direction: column;
    width: 80%;
  }
  .container {
	  display: flex;
  }
  .newssection {
	display: flex;
	width: 20%;
	flex-direction: column;
    border: 1px solid;
    height: 30%;
  }
  .newsItem {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	  margin-bottom: 5px;
	  padding: 10px;
  }
  .readmore {
	  color: blue;
	  cursor: pointer;
  }
  