<iframe class = "livedata" src="https://feeds.intoday.in/common/widgets/cube/corona/?utm_sources=IT&utm_medium=web">

</iframe>
<div class = "container">
<div class = "datasection">
  <div class="mainDiv">
    <div class="dataDiv" *ngFor="let dataelement of data">
      <div class="dataDetailDiv">
        <div class="displayName dataelement">
          {{dataelement['displayName']}}
        </div>
        <div class="totalConfirmed dataelement">
          Total Confirmed: {{dataelement['totalConfirmed']}}
        </div>
        <div class="totalRecovered dataelement">
          Total Recovered: {{dataelement['totalRecovered']}}
        </div>
        <div class="totalDeath dataelement">
          Total Deaths: {{dataelement['totalDeaths']}}
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="graphHeading">
      Per Day Cases of last month
    </div>
    <div echarts [options]="chartOption" class="demo-chart"> </div>
  </div>
  <div>
    <div class="graphHeading">
      Per Day Casuality of last month
    </div>
    <div echarts [options]="RecoveryChart" class="recovery-chart"> </div>
  </div>
  <div class="piechart">
    <canvas style = "height: 500px; width:auto" class="basechart" baseChart [data]="pieChartData" [labels]="pieChartLabels"
      [chartType]="pieChartType"></canvas>
  </div>
</div>
<div class = "newssection">
  <div *ngFor = "let news of newsArticle">
    <div class = "newsItem">
      <div>
      {{news.name}}
      </div>
      <div>
        <a class = "readmore" (click) = "openNews(news.url)"> Read more</a>
        </div>
      </div>
  </div>
</div>
</div>